# Git
.git
.gitignore

# Editor / OS
.vscode
*.DS_Store
Thumbs.db

# Test / Documentation
test.html
test2.html
*.md

# Exclude node_modules as they are regenerated during build
proxy-server/node_modules

# Logs
*.log
npm-debug.log*
